<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Classes</key>
    <dict>
        <key>AVAssetWriter</key>
        <dict>
            <key>-</key>
            <dict>
                <key>startSessionAtSourceTime:</key>
                <string>v32@0:4{?=qiIq}8</string>
                <key>movieFragmentInterval</key>
                <string>{?=qiIq}8@0:4</string>
                <key>setMovieFragmentInterval:</key>
                <string>v32@0:4{CMTime=qiIq}8</string>
            </dict>
        </dict>
        <key>AVAssetWriterInputPixelBufferAdaptor</key>
        <dict>
            <key>-</key>
            <dict>
                <key>appendPixelBuffer:withPresentationTime:</key>
                <string>c36@0:4^{__CVBuffer=}8{?=qiIq}12</string>
            </dict>
        </dict>
        <key>LC32UnknownTimeFixture</key>
        <dict>
            <key>-</key>
            <dict>
                <key>unknownStruct:</key>
                <string>v32@0:4{?=qqq}8</string>
                <key>prefixOnly:</key>
                <string>v36@0:4{?=qiIqi}8</string>
                <key>pointerToTime:</key>
                <string>v12@0:4^{?=qiIq}8</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
